alembic
click
dnspython
email-validator
Flask
flask-cors
Flask-Login
flask-marshmallow
Flask-Migrate
Flask-SQLAlchemy
greenlet
gunicorn
idna
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
psycopg2-binary
python-dateutil
python-dotenv
six
SQLAlchemy
Werkzeug
WTForms